<h1>Front page</h1>
<%= form_tag(staticpages_path,method: "post") do %>
  <%= text_field_tag("tag") %>
  <%= submit_tag("Submit") %>
<% end %> 

<% @tags.each do |t| %>
  <div>
    <h1 style="display:inline;"><%= t.tag %></h1>
    -
    <h5 style="display:inline;"><%= t.count %></h5>
    -
    <h5 style="display:inline;"><%= t.processing %></h5>
  </div>
<% end %>
